type project
tags xml save settings
projectUrl https://github.com/JohanLarsson/Gu.Persist
licenseUrl http://opensource.org/licenses/MIT

releasenotes
  BREAKING: Added optional parameter Migration to read methods.
  FEATURE: Migration support.
  BUGFIX: ReadOrCreate when passing in FileInfo
  BUGFIX: Read when passing in full path.

excludedgroups
  Analyzers
