source http://www.nuget.org/api/v2/
framework: >= net45

nuget Newtonsoft.Json
nuget LibGit2Sharp

group Analyzers
  source http://www.nuget.org/api/v2/
  framework: >= net45
  nuget JetBrains.Annotations
  nuget StyleCop.Analyzers
  nuget IDisposableAnalyzers
  nuget AsyncUsageAnalyzers
  nuget Gu.Analyzers
  nuget WpfAnalyzers

group Test
  source http://www.nuget.org/api/v2/
  framework: >= net45
  nuget Moq 
  nuget NUnit