source http://www.nuget.org/api/v2/
framework: >= net45

nuget Newtonsoft.Json 8.0.3
nuget LibGit2Sharp

group Analyzers
  source http://www.nuget.org/api/v2/
  framework: >= net45
  nuget JetBrains.Annotations
  nuget StyleCop.Analyzers

group Test
  source http://www.nuget.org/api/v2/
  framework: >= net45
  nuget Moq 
  nuget NUnit