source http://www.nuget.org/api/v2/

nuget Newtonsoft.Json
nuget LibGit2Sharp

group Analyzers
  source http://www.nuget.org/api/v2/
  nuget AsyncUsageAnalyzers
  nuget Gu.Analyzers
  nuget IDisposableAnalyzers
  nuget Microsoft.CodeAnalysis.FxCopAnalyzers
  nuget Microsoft.CodeAnalysis.PublicApiAnalyzers
  nuget ReflectionAnalyzers prerelease
  nuget StyleCop.Analyzers prerelease
  nuget JetBrains.Annotations

group Test
  source http://www.nuget.org/api/v2/
  nuget Microsoft.NET.Test.Sdk
  nuget NUnit
  nuget NUnit3TestAdapter
