type project
tags xml json save settings
projectUrl https://github.com/JohanLarsson/Gu.Persist
licenseUrl http://opensource.org/licenses/MIT

releasenotes
  BUGFIX: Use settings when reading, saving & cloning

excludedgroups
  Analyzers
