type project
tags save settings
projectUrl https://github.com/JohanLarsson/Gu.Persistance
licenseUrl http://opensource.org/licenses/MIT

excludeddependencies
  StyleCop.Analyzers
  AsyncUsageAnalyzers
  JetBrains.Annotations
